[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "==4.0.2"
sphinx-rtd-theme = "==0.5.2"
pytest = "*"
myst-nb = "==0.13.0"
jupyter = "*"

[requires]
python_version = "3.6"
